
form {
    border: 3px solid #f1f1f1;
    border-radius: 20px;
    /* box-shadow: ; */
  }
.container{
  position: absolute;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  left: 50%;
  top: 50%;
}
.container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0px;
    border-radius: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
.form-login{

  width: 20em;
  height: 30em;
}
.title-login{
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin: 10px;
}
  .btn-login {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  button{
    border-radius: 20px;
    font-weight: bold;


  }
  .element-form{
    margin: 20px;
  }
 
.text-danger{
  color: #d8001d;
  font-weight: 500;
}
  @media screen and (max-width: 600px) {
    span.psw {
      display: block;
      float: none;
    }
    .container{
      width: 20em;
    }
  }

  .btn-eye{
    display: flex;
    justify-content:  flex-end;
    position: relative;
    bottom: 43px;
    right: 15px;
  }
  .btn-showPass{
    color: #c5c5c5;
  }
  .btn-show{
    cursor: pointer;
  }
  .btn-google{
    background: #000000;
    border-radius: 50%;
    color: #f1f1f1;
    width: 30px;
    height: 30px;
    text-align: center;
    font-weight: bolder;
    cursor: pointer;
  }
  .social-login{
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
