*{
  box-sizing: border-box;
}

.game-board{
  border: solid 1px grey;
  height: fit-content;
  width: fit-content;
}

.board-tile{
  height: 70px;
  width: 70px;
  border: solid 1px grey;
  display: inline-block;
}

.can-slide{
  cursor: pointer;
  transition-duration: .1s;
}

.can-slide:hover{
  filter: brightness(85%);
}

.hstack{
  height: 70px;
}