@tailwind base;
@tailwind components;
@tailwind utilities;


.w-inbox-zone{
    width: 140px;
}

.w-inbox-name{
    display: none;
}

.min-width-220{
    min-width: 220px;
}

.m-groups-button{
    margin-left: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
    .w-inbox-zone{
        width: 450px;
    }

    .w-inbox-name{
        display: inline-block;
    }

    .m-groups-button{
        margin-left: 0.5rem;
    }
}